<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Traduction Fr-Jp</title>
    <h1>Français 🇫🇷 à Japonais 🇯🇵</h1>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div id="app">
        <div id="question-container">
            <h2 id="question">Voici le mot à traduire :</h2>
            <input type="text" size="30" id="user-input" class="user-input" placeholder="Entrez votre réponse"><br>
            <button class="button" onclick="checkAnswer()">Vérification</button>
            <button class="button" onclick="nextQuestion()">Suivant</button>
        </div>
        <script defer src="{{ url_for('static', filename='ftj_script.js') }}"></script>
    </div>
    <p id="result"></p>
</body>
</html>
