<!DOCTYPE html>
<html lang="en">
<head>
    <title>Japanese App</title>
    <h1>Welcome to my Japanese learning app! 🈳🈹🈶</h1>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>French to Japanese Translation</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div id="home">
        <h2>Select Translation Direction:</h2>
        <a href="{{ url_for('french_to_japanese') }}" target="_blank"><button class="button">French to Japanese</button></a>
        <a href="{{ url_for('japanese_to_french') }}" target="_blank"><button class="button">Japanese to French</button></a>
    </div>
</body>
</html>
