<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>French to Japanese Translation</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div id="home">
        <h2>Select Translation Direction:</h2>
        <button onclick="window.location.href='/french_to_japanese'">French to Japanese</button>
        <button onclick="window.location.href='/japanese_to_french'">Japanese to French</button>
    </div>
</body>
</html>
